In [ ]:
1## Find area and check it is square or not

In [ ]:
length = int(input())
breadth = int(input())

# Write your code here
print(length == breadth)
print(length*breadth)

In [ ]:
2#Write a Python program that accepts the radius of a circle from the user and compute the area.

radius = int(input())

# Write your code here
Area_of_circle=3.14*radius*radius

print(Area_of_circle)

In [ ]:
3##Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn.

n = int(input())

# Write your code here
sum=n+(n*10+n)+(n*100+n*10+n)
print(sum)

In [ ]:
4 ##A company decided to deduct pf of 12% of salary if year of service is less than or equal to 5 year and 24% employee if his/her year of service is more than 5 years.
##Ask the user for their salary and year of service and print the net in-hand salary after pf deduction.

salary = int(input())
noy = int(input())

# Write your code here
if noy<=5:
	salary=salary-((12/100)*salary)
else:
	salary=salary-((24/100)*salary)
print(int(salary))

#### 5. A school has following rules for grading system:

   a. Below 40 - F

   b. 40 to 50 - C

   c. 50 to 60 - C+

   d. 60 to 70 - B 

   e. 70 to 80 - B+

   f. 80 to 90- A

   g. Above 90 - A+

Ask the user to enter marks for their 5 main subjects and print the overall grade (Be careful grades will be case sensitive) for an average of their marks.

In [ ]:
subject1_mark = int(input())
subject2_mark = int(input())
subject3_mark = int(input())
subject4_mark = int(input())
subject5_mark = int(input())

# Write your code here
average=(subject1_mark+subject2_mark+subject3_mark+subject4_mark+subject5_mark)/5
if average<40:
	print("F")
elif 40<=average<50:
	print("C")
elif 50<=average<60:
	print("C+")
elif 60<=average<70:
	print("B")
elif 70<=average<80:
	print("B+")
elif 80<=average<90:
	print("A")
elif 90<=average<=100:
	print("A+")
print(average)

#### 7. A student will not be allowed to sit in the exam if his/her attendance is less than 75%. if he/she has medical cause reduce attendance criteria to 60%. Ask the user if he/she has a medical cause or not ( 'Y' or 'N' ) and print accordingly. You were given total no classes and total classes attended by the student.

In [ ]:
total_classes = int(input())
attended_classes = int(input())
medical_cause = input()
# Write your code here
attendance=(attended_classes/total_classes)*100
if attendance>=75:
	print("True")
elif medical_cause=="Y" and attendance>=60:
	print("True")
elif medical_cause=="N" and attendance!=60:
	print("False")
else:
	print("False")

#### 6.You will be given an integer it would be year number E.G. 2020 You have to find out is it leap year or not?

Rules to define a leap year:

If a year is divisible by 4 then it is a leap year but if the year is century year like 2000, 1900, 2100 then it must be divisible by 400.

In [ ]:
year = int(input())
# Write your code here
if (year % 4) == 0:
   if (year % 100) == 0:
       if (year % 400) == 0:
           print("True")
       else:
           print("False")
   else:
       print("True")
else:
   print("False")

#### 8.Given the 3 sides of a triangle – x, y and z – determine whether the triangle is equilateral, isosceles or obtuse.

In [ ]:
x = int(input())
y = int(input())
z = int(input())
# Write your code here
if x==y==z:
	print("equilateral")
elif x==y or y==z or x==z:
	print("isosceles")
else:
	print("obtuse")

#### 9. A shop will give a discount of 10% max up to 200rs if the cost of purchased items is more than 999rs.

Ask the user for quantity of items and consider price of each item is 150rs. Judge and print total cost for the user.

In [ ]:
items = int(input())
# Write your code here
total_cost=items*150
if total_cost>=999:
	discount=total_cost*10/100
	if discount>=200:
		discount=200
	final_cost=total_cost-discount
else:
	final_cost=total_cost
print(int(final_cost),"Total payable amount")

In [ ]:
input_seq = input()
# Write your code here
l=[['a','b','c'],['d','e','f'],['g','h','i'],['j','k','l'],['m','n','o'],['p','q','r','s'],['t','u','v'],['w','x','y','z']]
count=0
list1=[]
a=str(input_seq)
str2=""
for i in range (len(a)+1):
	if a[i]==a[i+1]:
		count+=1
		continue
	else:
		k=int(a)-2
		list1.append(l[k])
		str3=list1[count]
		str2=str2+str3
		count=0
print(str2)

In [ ]:
n = int(input())
# Write your code here
d={}
seq_of_travel={}
for i in range(1,n+1):
	d[str(input())]=str(input)
ky=d.keys()
value=d.values()
print(ky)
print(value)

In [ ]:
d = {"python":3,"django":2,"java":8,"roll_no":[10,20,30,40],3:"PYTHON2"}

# d = {key1:value1,key2:value2...}

d.keys()
print(d.sort())
print(d.values())
print(d.items())

You will have number or elements and next n lines containing list elements. You have to create list from that given string. Write a program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings.

In [ ]:
n = int(input())
# Write your code here
count=0
l=[]
for i in range(1,n+1):
	l.append(input())
for char in l:
	if char[0]==char[len(char)-1]:
		count=count+1
		
print(count)

#### You will have number or elements and next n lines containing list elements. You have to create list from that given string.

In [ ]:
n = int(input())
# Write your code here
l=[]
for i in range(1,n+1):
	l.append(input())		
print(l)

#### You will be given a total number of element initially and in next line containing tuple's elements. so first creat a tuple from the given string. Then you have to add a given element at given index value

In [ ]:
n = int(input())
# Write your code here
tuplex=()
listx=list(tuplex)
for i in range (1,n+1):
	listx.append(input())
tuplex=tuple(listx)
k=input()
t=k.split(" ")
i=int(t[0])
v=t[1]
tuplex = tuplex[:i] + (v,)+tuplex[i:n+1]
print(tuplex)

#### You will be given a string having space seprated elements you have to make a list from that given string. then remove duplicates elements and print the new list.

In [ ]:
element = input()
# Write your code here
list1=element.split(" ")
list2=[]
for i in list1:
	if i not in list2:
		list2.append(i)
print(list2)

#### You will be given to list main_list and sub_list. You have to check sublist presents in main list or not?

In [ ]:
main_list, sub_list = input().split() , input().split()
# Write your code here
flag = 0
if(all(x in main_list for x in sub_list)): 
    flag = 1
      
# printing result 
if (flag) : 
    print ("True") 
else : 
    print ("False")

In [ ]:
dct={}
dct["1"]=(1,2)
dct["2"]=(2,1)
for x in dct.keys():
    print(dct[x][1],end="")

nums=[1,2,3]

In [ ]:
nums=[1,2,3]
val=nums
del val[:]
print(val)

In [ ]:
tup=(1,2,3,4)
tup=tup[-2:-1]
tup=tup[-1]
print(tup)

In [ ]:
lst=[i for i in range(-1,-2)]
print(lst)

In [ ]:
def func(into=2,out=3):
    return into*out
print(func(out=2))

####

In [ ]:
i=0
while i<i+2:
    i+=1
    print("*")
else:
    print("*")

In [2]:
def func(a,b):
    return b*a
print(func(b=2,2))

SyntaxError: positional argument follows keyword argument (<ipython-input-2-4baed5d57253>, line 3)

In [3]:
dd={"1":"0","0":"1"}
for x in dd.vals():
    print(x,end="")

AttributeError: 'dict' object has no attribute 'vals'

In [4]:
a=1
b=0
a=a^b
b=a^b
a=a^b
print(a,b)

0 1

In [6]:
def func2(x):
    if x%2==0:
        return 1
    else:
        return 2
print(func2(func2(2)))

2

In [7]:
lst=[x*x for x in range(5)]
def func(lst):
    del lst[lst[2]]
    return lst
print(func(lst))

[0, 1, 4, 9]

In [8]:
l=[[x for x in range(3)] for y in range(3)]
for r in range(3):
    for c in range(3):
        if l[r][c]%2!=0:
            print("#")

#
#
#

In [11]:

print([i+j for i in "abc" for j in "def"])
print([i.lower() for i in "HELLO"])
list(map(lambda x: x**-1, [1, 2, 3]))

['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']
['h', 'e', 'l', 'l', 'o']

[1.0, 0.5, 0.3333333333333333]

In [14]:
# lambda function to calculate square
squares =lambda x: x**2 
# natural numbers list
nums=[1,2,3,4,5,6,7,8,9,10]
# empty list
square_nums=[]
# loop through every element in list
for i in nums:
    square_nums=map(squares,nums)
# display new list
print(list(square_nums))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [13]:
numbers = [1, 2, 3, 4, 5]

squaring_iterator = map(lambda n: n ** 2, numbers)
print(list(squaring_iterator))

[1, 4, 9, 16, 25]

In [15]:
# Code starts here

# natural numbers from 1 to 20
natural_nums=[i for i in range(21)]

# lambda function for even numbers
is_even=list(map(lambda x:x%2==0 ,natural_nums))

# filter() to filter out even elements
filtered=filter(is_even,natural_nums)
print(filtered)
# Code ends here

<filter object at 0x072C8270>